<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--?xml version="1.0" encoding="UTF-8"?-->
<suite name="Sample Suite" verbose="1" >
  <test name="Unit Level Test" >
    <classes>
		<class name="multipleTestsWithTestNG.Entry.AddTestCase" >
			<methods>
			<include name="addLocationTestCase" />
			<include name="addDepartmentTestCase" />
			<exclude name="addEmployeeTestCase" />
			</methods>
		</class>
		<class name="multipleTestsWithTestNG.Entry.EditTestCase" />
    </classes>
  </test>
  <test name="Regression Test">
    <classes>
		<class name="multipleTestsWithTestNG.Record.addUserTestCase" />
		<class name="multipleTestsWithTestNG.Record.deleteUserTestCase" />
    </classes>
  </test>
</suite>